{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mnager - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include 'sidebar.html' %}

        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column" style="margin-left: 14rem; width: calc(100% - 14rem); padding-top: 6rem;">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 fixed-top shadow" style="z-index: 900;">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                  

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <!-- Nav Item - Alerts -->
                        <!-- Nav Item - Messages -->
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">ilias maroun</span>
                                <img class="img-profile rounded-circle"
                                    src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                           
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

 <!-- Begin Page Content -->
    <div class="container-fluid">
        <h1 class="h3 mb-2 text-gray-800">Reservations Overview</h1>
        <p class="mb-4">Manage your reservations easily with the table below.</p>
        <form method="get" class="row mb-4 align-items-center">
            <div class="col-md-3">
                <input type="text" name="car_name" id="carSearch" class="form-control" 
                    placeholder="Search by Car Name" value="{{ request.GET.car_name }}">
            </div>
            <div class="col-md-3">
                <select name="price_range" id="priceRange" class="form-control">
                    <option value="">All Prices</option>
                    <option value="<100" {% if request.GET.price_range == '<100' %}selected{% endif %}>Under 100 DH</option>
                    <option value="<200" {% if request.GET.price_range == '<200' %}selected{% endif %}>Under 200 DH</option>
                    <option value="<300" {% if request.GET.price_range == '<300' %}selected{% endif %}>Under 300 DH</option>
                    <option value="<400" {% if request.GET.price_range == '<400' %}selected{% endif %}>Under 400 DH</option>
                    <option value="<500" {% if request.GET.price_range == '<500' %}selected{% endif %}>Under 500 DH</option>
                    <option value="<1000" {% if request.GET.price_range == '<1000' %}selected{% endif %}>Under 1000 DH</option>
                    <option value=">1000" {% if request.GET.price_range == '>1000' %}selected{% endif %}>Over 1000 DH</option>
                </select>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary">Search</button>
                <a href="{% url 'available_cars' %}" class="btn btn-secondary">Reset</a>
            </div>
            <div class="col-md-3 ms-auto text-end">
                <a href="{% url 'add_car' %}" class="btn btn-secondary btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-plus-circle"></i> 
                    </span>
                    <span class="text">Add Car</span>
                </a>
            </div>
        </form>
       
        <div class="card-body p-0">
            {% if messages %}
            <div id="temp-message" class="alert alert-success alert-dismissible fade show mt-2 mb-2" 
                style="">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>

            <script>
                // Auto-hide message after 3 seconds
                setTimeout(function() {
                    var message = document.getElementById('temp-message');
                    if (message) {
                        message.style.transition = 'opacity 0.5s';
                        message.style.opacity = '0';
                        setTimeout(function() {
                            message.remove();
                        }, 500);
                    }
                }, 3000);  // 3000 milliseconds = 3 seconds
            </script>
            {% endif %}
        <div class="table-responsive">

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Car Name</th>
                        <th>Prix</th>
                        <th>Date d'ajout</th>  
                        <th>Actions</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for car in cars %}
                    <tr>
                        <td>
                            <img src="{{ car.url_img }}" 
                                    alt="Car Image" 
                                    class="img-fluid rounded"
                                    style="max-height: 60px;">
                        </td>
                        <td>{{ car.brand }}</td>
                        <td>{{ car.price_per_day }}</td>
                        <td>{{ car.date_added }}</td>

                        <td class="align-middle text-center">
                            <button class="btn btn-sm btn-success mx-1"
                                onclick="showformmodifyCar(
                                    '{{ car.brand }}',
                                    '{{ car.url_img }}',
                                    '{{ car.fuel_type }}',
                                    '{{ car.transmission }}',
                                    '{{ car.number_of_seats }}',
                                    '{{ car.price_per_day }}',
                                    '{{ car.date_added|date:"Y-m-d" }}'
                                    )"> 
                                <i class="fas fa-edit"></i>
                            </button>                      
                                <button class="btn btn-sm btn-info mx-1" title="View Details" 
                                    onclick="showCarDetails(
                                        '{{ car.brand }}',
                                        '{{ car.url_img }}',
                                        '{{ car.fuel_type }}',
                                        '{{ car.transmission }}',
                                        '{{ car.number_of_seats }}',
                                        '{{ car.price_per_day }}',
                                        '{{ car.date_added|date:"Y-m-d" }}'
                                    )">
                                <i class="fas fa-eye"></i>
                            </button>

                            <a href="{% url 'delete_car' car.id %}" 
                                class="btn btn-sm btn-danger mx-1" 
                                title="Delete" >
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>                       

            </div>          
        </div>
    </div>
  
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content p-4 rounded-4 shadow">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <div class="modal-body">
                                <!-- Title -->
                                <h2 class="text-uppercase mb-4 fw-bold text-center">Toyota Corolla 2022</h2>
                                <!-- Image -->
                                <div class="text-center mb-4">
                                    <img id="mainImage" src="img/portfolio/1.jpg" class="img-fluid rounded shadow-sm" alt="Voiture principale">
                                </div>
    
                                <!-- Car Details -->
                                <div class="px-3">
                                    <h6 class="mb-2"><strong >Type de carburant :</strong> Essence</h6>
                                    <h6 class="mb-2"><strong >Transmission :</strong> Automatique</h6>
                                    <h6 class="mb-2"><strong>Nombre de places :</strong> 5</h6>
                                    <h6 class="mb-2"><strong>Prix :</strong> 132</h6>
                                    <h6 class="mb-2"><strong>Date ajoutée :</strong> 132</h6>
                                </div>
    
                                <!-- Optional Close Button -->
                                <div class="text-center mt-4">
                                    <button class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content p-4 rounded-4 shadow">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <div class="modal-body">
                                <!-- Title -->
                                <h2 class="text-uppercase mb-4 fw-bold text-center">Toyota Corolla 2022</h2>
                                <!-- Image -->
                                <div class="text-center mb-4">
                                    <img id="mainImage" src="img/portfolio/1.jpg" class="img-fluid rounded shadow-sm" alt="Voiture principale">
                                </div>
    
                                <!-- Car Details -->
                                <div class="px-3">
                                    <h6 class="mb-2"><strong >Type de carburant :</strong> Essence</h6>
                                    <h6 class="mb-2"><strong >Transmission :</strong> Automatique</h6>
                                    <h6 class="mb-2"><strong>Nombre de places :</strong> 5</h6>
                                    <h6 class="mb-2"><strong>Prix :</strong> 132</h6>
                                    <h6 class="mb-2"><strong>Date ajoutée :</strong> 132</h6>
                                </div>
    
                                <!-- Optional Close Button -->
                                <div class="text-center mt-4">
                                    <button class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>
    <script>
        function showCarDetails(brand, imageUrl, fuelType, transmission, seats, price,date_added) {
            document.querySelector('#portfolioModal2 h2').textContent = brand;
            document.getElementById('mainImage').src = imageUrl;
            document.querySelectorAll('.thumbnail-img').forEach(img => {
                img.src = imageUrl; // Or use different images if available
            });

            const modalBody = document.querySelector('#portfolioModal2 .modal-body');
            modalBody.querySelector('h6:nth-of-type(1)').innerHTML = 
                '<strong>Type de carburant : </strong>' + fuelType;
            modalBody.querySelector('h6:nth-of-type(2)').innerHTML = 
                '<strong>Transmission : </strong>' + transmission;
            modalBody.querySelector('h6:nth-of-type(3)').innerHTML = 
                '<strong>Nombre de place :</strong>' + seats;
            modalBody.querySelector('h6:nth-of-type(4)').innerHTML = 
                '<strong>Price :</strong>' + price;
            modalBody.querySelector('h6:nth-of-type(5)').innerHTML = 
            '<strong>Date ajoutée:</strong>' + date_added ;

            $('#portfolioModal2').modal('show');
        }


    </script>
    <script>
        function showformmodifyCar(brand, imageUrl, fuelType, transmission, seats, price,date_added) {
            document.querySelector('#portfolioModal3 h2').textContent = brand;
            document.getElementById('mainImage').src = imageUrl;
            document.querySelectorAll('.thumbnail-img').forEach(img => {
                img.src = imageUrl; // Or use different images if available
            });

            const modalBody = document.querySelector('#portfolioModal2 .modal-body');
            modalBody.querySelector('h6:nth-of-type(1)').innerHTML = 
                '<strong>Type de carburant : </strong>' + fuelType;
            modalBody.querySelector('h6:nth-of-type(2)').innerHTML = 
                '<strong>Transmission : </strong>' + transmission;
            modalBody.querySelector('h6:nth-of-type(3)').innerHTML = 
                '<strong>Nombre de place :</strong>' + seats;
            modalBody.querySelector('h6:nth-of-type(4)').innerHTML = 
                '<strong>Price :</strong>' + price;
            modalBody.querySelector('h6:nth-of-type(5)').innerHTML = 
            '<strong>Date ajoutée:</strong>' + date_added ;

            $('#portfolioModal2').modal('show');
        }


    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>